<a href="https://colab.research.google.com/github/YashSamarpitBhagat2005/GWQI-ANALYTICS/blob/main/MegaCPCBData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

table22 = pd.read_excel('/content/cpcb2022.xlsx')
table22 = pd.DataFrame(table22)

rcol = {
    'WATER QUALITY DATA OF GROUND WATER UNDER NWMP - 2022': 'Station Code',
    'Unnamed: 1' : 'Location',
    'Unnamed: 2' : 'State',
    'Unnamed: 3' : 'Temperature min',
    'Unnamed: 4' : 'Temperature max',
    'Unnamed: 5' : 'pH min',
    'Unnamed: 6' : 'pH max',
    'Unnamed: 7' : 'Conductivity min',
    'Unnamed: 8' : 'Conductivity max',
    'Unnamed: 9' : 'BOD min',
    'Unnamed: 10': 'BOD max',
    'Unnamed: 11' : 'Nitrate + Nitrite min',
    'Unnamed: 12' : 'Nitrate + Nitrite max',
    'Unnamed: 13' : 'Fecal Coliform min',
    'Unnamed: 14' : 'Fecal Coliform max',
    'Unnamed: 15' : 'Total Coliform min',
    'Unnamed: 16' : 'Total Coliform max',
    'Unnamed: 17' : 'TDS min',
    'Unnamed: 18' : 'TDS max'
}

table22 = table22.rename(columns=rcol)
table22 = table22.dropna(subset=['Location'])

keep_cols =['Station Code', 'State', 'Temperature min',
       'Temperature max', 'pH min', 'pH max', 'Conductivity min',
       'Conductivity max', 'BOD min', 'BOD max', 'Nitrate + Nitrite min',
       'Nitrate + Nitrite max', 'Fecal Coliform min', 'Fecal Coliform max',
       'Total Coliform min', 'Total Coliform max'
]

table22 = table22[keep_cols]
table22['Year'] = 2022
table22 = table22.iloc[1:].reset_index(drop=True)


display(table22)

In [ ]:
import pandas as pd

table21 = pd.read_excel('/content/cpcb2021.xlsx')
table21 = pd.DataFrame(table21)

rcol = {
    'WATER QUALITY DATA OF GROUND WATER UNDER NWMP - 2021': 'Station Code',
    'Unnamed: 1' : 'Location',
    'Unnamed: 2' : 'State',
    'Unnamed: 3' : 'Temperature min',
    'Unnamed: 4' : 'Temperature max',
    'Unnamed: 5' : 'pH min',
    'Unnamed: 6' : 'pH max',
    'Unnamed: 7' : 'Conductivity min',
    'Unnamed: 8' : 'Conductivity max',
    'Unnamed: 9' : 'BOD min',
    'Unnamed: 10': 'BOD max',
    'Unnamed: 11' : 'Nitrate + Nitrite min',
    'Unnamed: 12' : 'Nitrate + Nitrite max',
    'Unnamed: 13' : 'Fecal Coliform min',
    'Unnamed: 14' : 'Fecal Coliform max',
    'Unnamed: 15' : 'Total Coliform min',
    'Unnamed: 16' : 'Total Coliform max',
    'Unnamed: 17' : 'TDS min',
    'Unnamed: 18' : 'TDS max'
}

table21 = table21.rename(columns=rcol)
table21 = table21.dropna(subset=['Location'])

keep_cols =['Station Code', 'State', 'Temperature min',
       'Temperature max', 'pH min', 'pH max', 'Conductivity min',
       'Conductivity max', 'BOD min', 'BOD max', 'Nitrate + Nitrite min',
       'Nitrate + Nitrite max', 'Fecal Coliform min', 'Fecal Coliform max',
       'Total Coliform min', 'Total Coliform max'
]

table21 = table21[keep_cols]
table21['Year'] = 2021
table21 = table21.iloc[1:].reset_index(drop=True)


display(table21)

In [ ]:
import pandas as pd

table15 = pd.read_excel('/content/cpcb15.xlsx')
table15 = pd.DataFrame(table15)
table15 = table15.iloc[3:].reset_index(drop=True)

# Get the actual first column name from the DataFrame to ensure an exact match
actual_first_col_name = table15.columns[0]

rcol = {
    actual_first_col_name: 'Station Code', # Use the dynamically obtained column name
    'Unnamed: 1' : 'Location',
    'Unnamed: 2' : 'State',
    'Unnamed: 3' : 'Temperature min',
    'Unnamed: 4' : 'Temperature max',
    'Unnamed: 5' : 'pH min',
    'Unnamed: 6' : 'pH max',
    'Unnamed: 7' : 'Conductivity min',
    'Unnamed: 8' : 'Conductivity max',
    'Unnamed: 9' : 'BOD min',
    'Unnamed: 10': 'BOD max',
    'Unnamed: 11' : 'Nitrate + Nitrite min',
    'Unnamed: 12' : 'Nitrate + Nitrite max',
    'Unnamed: 13' : 'Fecal Coliform min',
    'Unnamed: 14' : 'Fecal Coliform max',
    'Unnamed: 15' : 'Total Coliform min',
    'Unnamed: 16' : 'Total Coliform max',
}

table15 = table15.rename(columns=rcol)
table15 = table15.dropna(subset=['Location'])

keep_cols =['Station Code', 'State', 'Temperature min',
       'Temperature max', 'pH min', 'pH max', 'Conductivity min',
       'Conductivity max', 'BOD min', 'BOD max', 'Nitrate + Nitrite min',
       'Nitrate + Nitrite max', 'Fecal Coliform min', 'Fecal Coliform max',
       'Total Coliform min', 'Total Coliform max'
]

table15 = table15[keep_cols]
table15['Year'] = 2015
table15 = table15[table15['State'].notna() & (table15['State'] != 'STATE')]

display(table15)

In [ ]:
import pandas as pd

table16 = pd.read_excel('/content/cpcb16.xlsx')
table16 = pd.DataFrame(table16)

rcol = {
    'Table - 22.1: Water Quality of ground water in Andhra Pradesh - 2016': 'Station Code',
    'Unnamed: 1' : 'Location',
    'Unnamed: 2' : 'State',
    'Unnamed: 3' : 'Temperature min',
    'Unnamed: 4' : 'Temperature max',
    'Unnamed: 5' : 'pH min',
    'Unnamed: 6' : 'pH max',
    'Unnamed: 7' : 'Conductivity min',
    'Unnamed: 8' : 'Conductivity max',
    'Unnamed: 9' : 'BOD min',
    'Unnamed: 10': 'BOD max',
    'Unnamed: 11' : 'Nitrate + Nitrite min',
    'Unnamed: 12' : 'Nitrate + Nitrite max',
    'Unnamed: 13' : 'Fecal Coliform min',
    'Unnamed: 14' : 'Fecal Coliform max',
    'Unnamed: 15' : 'Total Coliform min',
    'Unnamed: 16' : 'Total Coliform max',
}

table16 = table16.rename(columns=rcol)
table16 = table16.dropna(subset=['Location'])

keep_cols =['Station Code', 'State', 'Temperature min',
       'Temperature max', 'pH min', 'pH max', 'Conductivity min',
       'Conductivity max', 'BOD min', 'BOD max', 'Nitrate + Nitrite min',
       'Nitrate + Nitrite max', 'Fecal Coliform min', 'Fecal Coliform max',
       'Total Coliform min', 'Total Coliform max'
]

table16 = table16[keep_cols]
table16['Year'] = 2016
table16 = table16.iloc[:].reset_index(drop=True)

display(table16)

In [ ]:
import pandas as pd

table17 = pd.read_excel('/content/cpcb17.xlsx')
table17 = pd.DataFrame(table17)



rcol = {
    'TABLE - 1: WATER QUALITY OF GROUND WATER IN ANDHRA PRADESH - 2017': 'Station Code',
    'Unnamed: 1' : 'Location',
    'Unnamed: 2' : 'State',
    'Unnamed: 3' : 'Temperature min',
    'Unnamed: 4' : 'Temperature max',
    'Unnamed: 5' : 'pH min',
    'Unnamed: 6' : 'pH max',
    'Unnamed: 7' : 'Conductivity min',
    'Unnamed: 8' : 'Conductivity max',
    'Unnamed: 9' : 'BOD min',
    'Unnamed: 10': 'BOD max',
    'Unnamed: 15' : 'Nitrate + Nitrite min',
    'Unnamed: 16' : 'Nitrate + Nitrite max',
    'Unnamed: 11' : 'Fecal Coliform min',
    'Unnamed: 12' : 'Fecal Coliform max',
    'Unnamed: 13' : 'Total Coliform min',
    'Unnamed: 14' : 'Total Coliform max',
}

table17 = table17.rename(columns=rcol)
table17 = table17.dropna(subset=['Location'])

keep_cols =['Station Code', 'State', 'Temperature min',
       'Temperature max', 'pH min', 'pH max', 'Conductivity min',
       'Conductivity max', 'BOD min', 'BOD max', 'Nitrate + Nitrite min',
       'Nitrate + Nitrite max', 'Fecal Coliform min', 'Fecal Coliform max',
       'Total Coliform min', 'Total Coliform max'
]

table17 = table17[keep_cols]
table17['Year'] = 2017
table17 = table17[1:].reset_index(drop=True)

display(table17)

In [ ]:
import pandas as pd

table18 = pd.read_excel('/content/cpcb18.xlsx')
table18 = pd.DataFrame(table18)

rcol = {
    'TABLE - 1: WATER QUALITY OF GROUND WATER IN ANDHRA PRADESH - 2018': 'Station Code',
    'Unnamed: 1' : 'Location',
    'Unnamed: 2' : 'State',
    'Unnamed: 3' : 'Temperature min',
    'Unnamed: 4' : 'Temperature max',
    'Unnamed: 5' : 'pH min',
    'Unnamed: 6' : 'pH max',
    'Unnamed: 7' : 'Conductivity min',
    'Unnamed: 8' : 'Conductivity max',
    'Unnamed: 9' : 'BOD min',
    'Unnamed: 10': 'BOD max',
    'Unnamed: 11' : 'Nitrate + Nitrite min',
    'Unnamed: 12' : 'Nitrate + Nitrite max',
    'Unnamed: 13' : 'Fecal Coliform min',
    'Unnamed: 14' : 'Fecal Coliform max',
    'Unnamed: 15' : 'Total Coliform min',
    'Unnamed: 16' : 'Total Coliform max',
}

table18 = table18.rename(columns=rcol)
table18 = table18.dropna(subset=['Location'])

keep_cols =['Station Code', 'State', 'Temperature min',
       'Temperature max', 'pH min', 'pH max', 'Conductivity min',
       'Conductivity max', 'BOD min', 'BOD max', 'Nitrate + Nitrite min',
       'Nitrate + Nitrite max', 'Fecal Coliform min', 'Fecal Coliform max',
       'Total Coliform min', 'Total Coliform max'
]

table18 = table18[keep_cols]
table18['Year'] = 2018
table18 = table18[1:].reset_index(drop=True)

display(table18)

In [ ]:
import pandas as pd

table19 = pd.read_excel('/content/cpcb19.xlsx')
table19 = pd.DataFrame(table19)

rcol = {
    'TABLE - 1: WATER QUALITY OF GROUND WATER IN ANDHRA PRADESH - 2019': 'Station Code',
    'Unnamed: 1' : 'Location',
    'Unnamed: 2' : 'State',
    'Unnamed: 3' : 'Temperature min',
    'Unnamed: 4' : 'Temperature max',
    'Unnamed: 7' : 'pH min',
    'Unnamed: 8' : 'pH max',
    'Unnamed: 9' : 'Conductivity min',
    'Unnamed: 10' : 'Conductivity max',
    'Unnamed: 11' : 'BOD min',
    'Unnamed: 12': 'BOD max',
    'Unnamed: 13' : 'Nitrate + Nitrite min',
    'Unnamed: 14' : 'Nitrate + Nitrite max',
    'Unnamed: 17' : 'Fecal Coliform min',
    'Unnamed: 18' : 'Fecal Coliform max',
    'Unnamed: 15' : 'Total Coliform min',
    'Unnamed: 16' : 'Total Coliform max',
}

table19 = table19.rename(columns=rcol)
table19 = table19.dropna(subset=['Location'])

keep_cols =['Station Code', 'State', 'Temperature min',
       'Temperature max', 'pH min', 'pH max', 'Conductivity min',
       'Conductivity max', 'BOD min', 'BOD max', 'Nitrate + Nitrite min',
       'Nitrate + Nitrite max', 'Fecal Coliform min', 'Fecal Coliform max',
       'Total Coliform min', 'Total Coliform max'
]

table19 = table19[keep_cols]
table19['Year'] = 2019
table19 = table19[1:].reset_index(drop=True)

display(table19)

In [ ]:
import pandas as pd

table20 = pd.read_excel('/content/cpcb20.xlsx')
table20 = pd.DataFrame(table20)


rcol = {
    'TABLE 1: WATER QUALITY DATA OF GROUND WATER UNDER NWMP IN ANDHRA PRADESH - 2020': 'Station Code',
    'Unnamed: 1' : 'Location',
    'Unnamed: 2' : 'State',
    'Unnamed: 3' : 'Temperature min',
    'Unnamed: 4' : 'Temperature max',
    'Unnamed: 5' : 'pH min',
    'Unnamed: 6' : 'pH max',
    'Unnamed: 7' : 'Conductivity min',
    'Unnamed: 8' : 'Conductivity max',
    'Unnamed: 9' : 'BOD min',
    'Unnamed: 10': 'BOD max',
    'Unnamed: 11' : 'Nitrate + Nitrite min',
    'Unnamed: 12' : 'Nitrate + Nitrite max',
    'Unnamed: 13' : 'Fecal Coliform min',
    'Unnamed: 14' : 'Fecal Coliform max',
    'Unnamed: 15' : 'Total Coliform min',
    'Unnamed: 16' : 'Total Coliform max',
}

table20 = table20.rename(columns=rcol)
table20 = table20.dropna(subset=['Location'])

keep_cols =['Station Code', 'State', 'Temperature min',
       'Temperature max', 'pH min', 'pH max', 'Conductivity min',
       'Conductivity max', 'BOD min', 'BOD max', 'Nitrate + Nitrite min',
       'Nitrate + Nitrite max', 'Fecal Coliform min', 'Fecal Coliform max',
       'Total Coliform min', 'Total Coliform max'
]

table20 = table20[keep_cols]
table20['Year'] = 2020
table20 = table20[1:].reset_index(drop=True)

display(table20)

In [ ]:
display(table22.head())
display(table21.head())
display(table20.head())
display(table19.head())
display(table18.head())
display(table17.head())
display(table16.head())
display(table15.head())

In [ ]:
tables = [table22, table21, table20, table19, table18, table17, table16, table15]
merged_table = pd.concat(tables, ignore_index=True)


display(merged_table)

In [ ]:
for col in merged_table.columns:
    merged_table[col] = merged_table[col].map(lambda x: str(x).replace('\n', ' ').replace('\r', ' ').replace('\t', ' ') if pd.notnull(x) else x)

merged_table = merged_table[merged_table['State'] != 'State Name']
merged_table = merged_table[merged_table['Station Code'].notna()]

display(merged_table)

In [ ]:
print(list(sorted(merged_table['State'].unique())))

In [ ]:
display(merged_table)

In [ ]:
merged_table['Station Code'] = merged_table['Station Code'].astype(int)

merged_table['Year'] = merged_table['Year'].astype(int)

In [ ]:
import pandas as pd

# Example: Convert several columns to float
# Define a dictionary where keys are column names and values are the desired data types
conversion_dict = {
    'Temperature min': float,
    'Temperature max': float,
    'pH min': float,
    'pH max': float,
    'Conductivity min': float,
    'Conductivity max': float,
    'BOD min': float,
    'BOD max': float,
    'Nitrate + Nitrite min': float,
    'Nitrate + Nitrite max': float,
    'Fecal Coliform min': float,
    'Fecal Coliform max': float,
    'Total Coliform min': float,
    'Total Coliform max': float
}

# Apply the conversions
for col, dtype in conversion_dict.items():
    if dtype == float:
        # Use pd.to_numeric for robust conversion to numbers, coercing errors to NaN
        merged_table[col] = pd.to_numeric(merged_table[col], errors='coerce')
    else:
        # For other types, use astype()
        merged_table[col] = merged_table[col].astype(dtype)

In [ ]:
display(merged_table)

In [ ]:
from google.colab import sheets
sheet = sheets.InteractiveSheet(df=merged_table)

In [ ]:
# Get the total number of unique years in the dataset
num_unique_years = merged_table['Year'].nunique()

# Group by 'Station Code' and count the number of unique years for each station
station_year_counts = merged_table.groupby('Station Code')['Year'].nunique()

# Identify 'Station Code' values that appear in all unique years
common_station_codes = station_year_counts[station_year_counts == num_unique_years].index

# Filter the merged_table to keep only these common station codes
filtered_merged_table = merged_table[merged_table['Station Code'].isin(common_station_codes)]

# Display the first few rows of the filtered table and its shape to confirm
display(filtered_merged_table.head())
print(f"Original table shape: {merged_table.shape}")
print(f"Filtered table shape: {filtered_merged_table.shape}")

In [ ]:
filt_table=filtered_merged_table

display(filt_table)

In [ ]:
bihar = filt_table[filt_table['State'] == 'BIHAR']
display(bihar)

In [ ]:
wb = filt_table[filt_table['State'] == 'WEST BENGAL']
display(wb)

In [ ]:
print(filt_table['State'].unique())

**THIS IS THE MAIN TABLE "filt_table" WHICH CONTAINS ONLY THOSE VALUES WHICH ARE PRESENT IN ALL THE YEARS**

In [29]:
display(filt_table)

,Station Code,State,Temperature min,Temperature max,pH min,pH max,Conductivity min,Conductivity max,BOD min,BOD max,Nitrate + Nitrite min,Nitrate + Nitrite max,Fecal Coliform min,Fecal Coliform max,Total Coliform min,Total Coliform max,Year
0,26,ANDHRA PRADESH,24.0,24.0,7.28,7.40,2300.0,2390.0,2.2,2.4,3.15,3.77,3.0,3.0,11.0,21.0,2022
1,1513,ANDHRA PRADESH,24.0,24.0,7.07,7.86,2140.0,2210.0,2.2,2.2,1.38,3.42,3.0,4.0,13.0,20.0,2022
2,1514,ANDHRA PRADESH,25.0,25.0,7.21,7.26,1996.0,2160.0,2.0,2.2,3.61,3.99,3.0,3.0,11.0,15.0,2022
3,1516,ANDHRA PRADESH,20.0,21.0,7.85,8.06,1270.0,1340.0,1.8,2.0,1.31,1.43,3.0,3.0,14.0,15.0,2022
4,1517,ANDHRA PRADESH,21.0,24.0,7.20,7.50,2068.0,6410.0,1.2,1.2,3.12,6.91,9.0,9.0,53.0,53.0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7071,2543,WEST BENGAL,27.0,28.0,6.00,6.00,140.0,152.0,0.6,0.8,0.70,1.30,NaN,NaN,NaN,NaN,2015
7072,2545,WEST BENGAL,30.0,31.0,7.00,7.80,1632.0,1986.0,1.3,1.8,0.60,1.20,1300.0,1300.0,2300.0,2300.0,2015
7073,2546,WEST BENGAL,28.0,30.0,7.00,7.80,934.0,961.0,0.5,1.0,0.00,0.10,NaN,NaN,NaN,NaN,2015
7074,2547,WEST BENGAL,27.0,30.0,7.00,8.20,1279.0,4442.0,0.8,1.0,0.60,6.60,130.0,130.0,300.0,300.0,2015
7075,2548,WEST BENGAL,24.0,32.0,7.00,7.70,1968.0,2160.0,1.1,3.3,0.10,0.10,2.0,2.0,8.0,8.0,2015

**This place is to check if a particular station code has values in each year or not**

In [26]:
number = filt_table[filt_table['Station Code'] == 1827]
display(number)

,Station Code,State,Temperature min,Temperature max,pH min,pH max,Conductivity min,Conductivity max,BOD min,BOD max,Nitrate + Nitrite min,Nitrate + Nitrite max,Fecal Coliform min,Fecal Coliform max,Total Coliform min,Total Coliform max,Year
101,1827,BIHAR,19.0,22.0,7.08,7.28,436.0,514.0,NaN,NaN,NaN,NaN,33.0,920.0,49.0,1600.0,2022
1234,1827,BIHAR,26.0,27.0,7.50,7.70,439.0,472.0,NaN,NaN,0.50,3.11,2.0,23.0,2.0,23.0,2021
2290,1827,BIHAR,25.0,25.0,7.70,7.70,600.0,600.0,NaN,NaN,NaN,NaN,33.0,33.0,46.0,46.0,2020
3302,1827,BIHAR,26.0,27.0,7.10,7.40,517.0,667.0,NaN,NaN,0.34,0.67,2.0,2.0,2.0,2.0,2019
4298,1827,BIHAR,24.0,24.0,7.40,7.40,465.0,539.0,NaN,NaN,0.00,0.20,2.0,2.0,2.0,2.0,2018
5148,1827,BIHAR,26.0,32.0,7.40,7.40,554.0,558.0,NaN,NaN,0.00,0.00,2.0,2.0,2.0,2.0,2017
5860,1827,BIHAR,27.0,28.0,7.10,7.70,552.0,616.0,NaN,NaN,0.00,0.00,4.0,7.0,10.0,14.0,2016
6547,1827,BIHAR,28.0,31.0,8.00,8.20,580.0,601.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015

In [27]:
from google.colab import sheets
sheet = sheets.InteractiveSheet(df=filt_table)

https://docs.google.com/spreadsheets/d/19MInZri5-sorri6m3vvhV5nd-xDa46fIobkaCVDetu0/edit#gid=0